<app-admindashboard></app-admindashboard>
<h1>-Update Banner</h1>
<label for="state">Choose a state:</label>

<select name="state" id="state">
  <option value="UP">Uttar Pradesh</option>
  <option value="MP">Madhya Pradesh</option>
  <option value="Chandigarh">Chandigarh</option>
  <option value="Kerala">Kerala</option>
</select>
<label for="City">Choose a City:</label>

<select name="City" id="City">
  <option value="agra">Agra</option>
  <option value="Aligarh">Aligarh</option>
  <option value="firozabad">firozabad</option>
  <option value="shikhoabad">shikhoabad</option>
</select>
<label for="select vendor">Select Vender:</label>

<select>
  <option value="Sakshi Mobile World -sakshi(7817031828)"> Sakshi Mobile World -sakshi(7817031828)</option>
  <option value="D-MART"></option>

</select>
<label for="KEYWORD">KEYWORD:</label>
<select>
  <option value="Mobile accessories">Mobile accessories</option>
</select>

 <label> <input type="checkbox" > I have read and accept term</label>
 <button>Submit</button>