ion-header{
	background-color: black;
  }
  ion-toolbar {
	--background: linear-gradient(to right, #3f51b5, #2196f3);
	--ion-color-base: #ffffff;
	--ion-color-contrast: #ffffff;
	
  }
  
  .header-title {
	margin-top: 10px;
	font-family: 'Segoe UI', Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	display: inline-block;
  }
  ion-button {
	margin-top: 10px;
	--background: transparent;
	--background-hover: #9ce0be;
	--background-activated: #88f4be;
	--background-focused: #88f4be;
  
	 --color: white;
  }
  
  .search{
	width:25vw;
	display: inline-block;
	margin-left: 50px;
   margin-top: 5px;
  }
  #searchBtn{
	// margin-top:12px;
  }
  .ion-padding{
	color:black;
  }
  #loginBtn{
	float:right;
	margin-right: 50px;
  }
  ion-header{
	height:10vh;
	display: flex;
	justify-content: center;
	background-color: #222428;
   
  }
  ion-accordion-group{
	background-color: black;
  
  }
  