input{
   
    
}
#space{
    padding-bottom: 50px;

}
#city{
    padding-top: 50px;
    
}
#btn{
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-top: 30px;
}
select{
    border-radius: 20px;
    width:300%;
}