 <!-- <ion-content> -->
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <app-admindashboard></app-admindashboard>
      </ion-col>
    </ion-row>
  </ion-grid>  -->
  <!-- <ion-grid id="admin">
    <ion-row>
      <ion-col>
       
      </ion-col>
    </ion-row>
  </ion-grid> -->
<!-- </ion-content> -->

<ion-content>
  <ion-row class="dash">
    <app-admindashboard></app-admindashboard>
  </ion-row>
  <ion-row class="profile">
    <app-adminprofile></app-adminprofile>
  </ion-row>
</ion-content>