.row-12{
  display: flex;
 // background-image:url("/assets/3334896.jpg");


  
}
.col-3{
  width: 25vw;
}
.col-9{

  margin-left:5px;
  width:73.5vw;
  // background-image:url("/assets/img/unnamed.png");
   background-color:rgb(184, 223, 238);
  background-size:cover;
}