<ion-content>
  <ion-content [fullscreen]="true">

    <div class="row-12">
      <div class="adminheader">
        <div class="col-3">
          <h1 id="logo">Fristy</h1>
          <input type="image" class="img" src="src/assets/img/denim.jpg" alt="img" height="48" width="48">
          <h6 id="admin">Admin</h6>
  
          <hr>
          <h6 style="color:#e2e6ee;">--MAIN</h6>
          <div class="dropdown">
            <button class="iconbtn" style="color:white;"><i class="fa-solid fa-house-chimney" style=" color: #f7f7f8; "    id="dashboard"></i>DashBoard </button>
            <div class="dropdown-options">
              <a (click)="employee()" >Employee</a>
              <a routerLink="/t-shirts">User</a>
              <a routerLink="/sports">Vendors</a>
              <a routerLink="/shirts">Store</a>
              <a routerLink="/t-shirts">Product</a>
              <a routerLink="/sports">Transactions</a>
            </div>
          </div>
  
  
          <div class="dropdown">
            <button style="color:white;"><i class="fa-sharp fa-solid fa-grid-round" style="color: #511f1f;"></i>Operations</button>
            <div class="dropdown-options">
              <a routerLink="/shirts">Store Categories</a>
              <a routerLink="/t-shirts">Events</a>
              <a routerLink="/sports">Ads Banner</a>
              <a routerLink="/shirts">Qr Codes Maker</a>
              <a routerLink="/t-shirts">Api's Margin</a>
              <a routerLink="/sports">Notification </a>
            </div>
          </div>
  
  
          <div class="dropdown">
            <button style="color:white;" id="btnn" ><i class="fa-sharp fa-solid fa-lock" style="color: #e3e9f2;"></i>Admin
              Profile</button>
            <div class="dropdown-options">
              <a routerLink="/shirts">Profile</a>
              <a routerLink="/t-shirts">Change Password</a>
            
            </div>
          </div>
  
  
        </div>
  
      </div>
       <div class="col-9">
        <!-- <h3>Dashboard</h3>
        <h5>Welcome To Fristy</h5>
        <div class="boxes">
          <div class="box">Employee</div>
          <div class="box">Users</div>
          <div class="box">Vendors</div>
          <div class="box">Banners</div>
          <div class="box">Product</div>
          <div class="box">Store</div>
          <div class="box">Account</div>
          <div class="box">Recharge</div>
          <div class="box">Transactions</div>
          <div class="box">Orders</div> -->
          <app-adminprofile></app-adminprofile>
  
        </div>
      
  
  
    </div>
  
  </ion-content>
</ion-content>
