*{
  margin: 0px;
  padding: 0px;
}
.row-12{
  display: flex;
 // background-image:url("/assets/3334896.jpg");
}

.col-9{

  margin-left:5px;
  width:73.5vw;
  // background-image:url("/assets/img/unnamed.png");
}