<ion-content class="ion-padding">

    <h1>-Store List</h1>
        
        <ion-button   routerLink="/addcategorystore" >+</ion-button>
  
        <ion-searchbar></ion-searchbar>
        <ion-item>
          <ion-select label="Select Entries" label-placement="fixed" placeholder="Entries">
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col id= "tableheader">S No.</ion-col>
            <ion-col id= "tableheader" >Category Name</ion-col>
            <ion-col id= "tableheader">Icon</ion-col>
            <ion-col id= "tableheader">Edit</ion-col>
          </ion-row>
          <ion-row *ngFor="let i of collectstoredata">
            <ion-col>{{i.CategoryName}}</ion-col>
            <ion-col>{{i.Edit}}</ion-col>
            <ion-col id="email">{{i.Icon}}</ion-col>
            <ion-col>{{i.SNo}}</ion-col>
            
          
          
          </ion-row> 
       
        </ion-grid>
    
      <ion-button shape="round" routerLink="/addcategorystore">Round</ion-button>
    
  
  
</ion-content>
