<div class="container">
  <h1>-Categories List</h1>
      <button id="addBtn" routerLink="/addcategorystore">+</button> 

    <div class="search">
      <label for="">Search</label>
      <input type="text" id="searchLeft">
    </div>
    <label for="dog-names" id="dropLabel">Show entries</label>
    <select name="entries" id="entries">
        <option value="rigatoni">10</option>
      <option value="dave">25</option>
      <option value="pumpernickel">50</option>
      <option value="reeses">75</option>
      <option value="reeses">100</option>
    </select>

    <div class="table" >
  
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" id="th1">S.No.</th>
            <th scope="col" id="th1">Category name</th>
            <th scope="col" id="th1">Icon</th>
            <th scope="col" id="th1">Edit</th>

          
          </tr>
        </thead>
        <tfoot>
          <tr>
            <!-- <th scope="col" id="th1">Name</th>
            <th scope="col" id="th1">age</th>
            <th scope="col" id="th1">Last</th>
            <th scope="col" id="th1">Handle</th> -->

            <th scope="col" id="th1">S.No.</th>
            <th scope="col" id="th1">Category name</th>
            <th scope="col" id="th1">Icon</th>
            <th scope="col" id="th1" routerLink="/employee">Edit</th>
            
      
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let i of collectstoredata">
            <td>{{ i.CategoryName}}</td>
            <td>{{ i.Edit}}</td>
            <td>{{ i.Icon }}</td>        
            <td>{{ i.SNo }}</td>  
          </tr>
            </tbody>
      </table>
    </div>
    <button routerLink="/addcategorystore">submit</button>
  
</div>
