<ion-header>
  <ion-button > <ion-item >
    <ion-select aria-label="CLOTHES" placeholder="CLOTHES" >
      <ion-select-option value="T-SHIRT">T-SHIRT</ion-select-option>
      <ion-select-option value="SHIRT">SHIRT</ion-select-option>
      <ion-select-option value="JEANS">JEANS</ion-select-option>
    </ion-select>
  </ion-item></ion-button>
  <ion-button > <ion-item >
    <ion-select aria-label="ACCESSORIES" placeholder="ACCESSORIES" >
      <ion-select-option value="MOBILE">MOBILE</ion-select-option>
      <ion-select-option value="LAPTOP">LAPTOP</ion-select-option>
      <ion-select-option value="TABLET">TABLET</ion-select-option>
    </ion-select>
  </ion-item></ion-button>
  <ion-button > <ion-item >
    <ion-select aria-label="SHOES" placeholder="SHOES"  >
      <ion-select-option value="FORMAL">FORMAL</ion-select-option>
      <ion-select-option value="CAUSAL">CAUSAL</ion-select-option>
      <ion-select-option value="SPORTS">SPORTS</ion-select-option>
    </ion-select>
  </ion-item></ion-button>
  <ion-button> <ion-item >
    <ion-select aria-label="SPORTS" placeholder=" SPORTS" >
      <ion-select-option value="CRICKET">CRICKET</ion-select-option>
      <ion-select-option value="FOOTBALL">FOOTBALL</ion-select-option>
      <ion-select-option value="TABLE TENNIS">TABLE TENNIS</ion-select-option>
    </ion-select>
  </ion-item></ion-button>

</ion-header>
