

<ion-content [fullscreen]="true">
  <div class="container">
    
    <div class="fields">
      <p id="para">Employee List<a>(Clear)</a></p>
    
        <button id="addBtn">+</button> 

      <div class="search">
        <label for="">Search</label>
        <input type="text" id="searchLeft">
      </div>
      <label for="dog-names" id="dropLabel">Show entries</label>
      <select name="entries" id="entries">
          <option value="rigatoni">10</option>
        <option value="dave">25</option>
        <option value="pumpernickel">50</option>
        <option value="reeses">75</option>
        <option value="reeses">100</option>
      </select>

      <div class="table" >
    
        <table class="table table-bordered">
          <thead>
            <tr >
              <!-- <th scope="col" id="th1">Name</th>
              <th scope="col" id="th1">age</th>
              <th scope="col" id="th1">Last</th>
              <th scope="col" id="th1">Handle</th> -->

              <th scope="col" id="th1">Number</th>
              <th scope="col" id="th1">Name</th>
              <th scope="col" id="th1">Username</th>
              <th scope="col" id="th1">Gender</th>
              <th scope="col" id="th1">Email</th>
              <th scope="col" id="th1">Status</th>
              <th scope="col" id="th1">Role</th>
              <th scope="col" id="th1">Register Date</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <!-- <th scope="col" id="th1">Name</th>
              <th scope="col" id="th1">age</th>
              <th scope="col" id="th1">Last</th>
              <th scope="col" id="th1">Handle</th> -->

              <th scope="col" id="th1">Number</th>
              <th scope="col" id="th1">Name</th>
              <th scope="col" id="th1">Username</th>
              <th scope="col" id="th1">Gender</th>
              <th scope="col" id="th1">Email</th>
              <th scope="col" id="th1">Status</th>
              <th scope="col" id="th1">Role</th>
              <th scope="col" id="th1">Register Date</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let row of tableData">
              <td>{{ row.Number }}</td>
              <td>{{ row.Name}}</td>
              <td>{{ row.Status }}</td>
              <td>{{ row.Gender}}</td>
              <td>{{ row.Balance }}</td>
              <td>{{ row.Cashback}}</td>
              <td>{{ row.Role }}</td>
              <td>{{ row.ReferId}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>
