<ion-content class="ion-padding">
    <h1>- Transaction List</h1>
   
    <ion-button   routerLink="/transactionlist" >+</ion-button>
    <div class="second">
      <label for="">Form</label>
      <input type="date" id="form">
      <span>To</span>
      <input type="date" id="inp">
      <ion-button color="danger">Search</ion-button><br><br>
      <label for="">Order Id</label>
      <input type="text" id="inp">
      <ion-button color="danger">Search</ion-button> <br><br>
      <ion-item>
        <ion-select label="Select Entries" label-placement="fixed" placeholder="Entries">
          <ion-select-option value="10">10</ion-select-option>
          <ion-select-option value="20">20</ion-select-option>
          <ion-select-option value="30">30</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col id= "tableheader">Order Id</ion-col>
        <ion-col id= "tableheader" >Tracking Id</ion-col>
        <ion-col id= "tableheader">Trans</ion-col>
        <ion-col id= "tableheader">Status</ion-col>
        <ion-col id= "tableheader">Amount</ion-col>
        <ion-col id= "tableheader" >Date</ion-col>
        <ion-col id= "tableheader">Balance</ion-col>
        <ion-col id= "tableheader">User</ion-col>
      </ion-row>
      <ion-row >
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col id="email"></ion-col>
        <ion-col></ion-col>
      </ion-row> 
    </ion-grid>
</ion-content>
