
<div class="container">
    
  
    
  <h1>- Transaction List</h1>
      <button id="addBtn" routerLink="/transactionlist"></button>  
      <label for="">Form</label>
        <input type = "date" id="form">
        <span>To</span>
        <input type = "date"id="inp"> 
        <ion-button color="danger" >Search</ion-button><br><br>  
        <label for="">Order Id</label>
        <input type="text"id="inp">
        <ion-button color="danger" >Search</ion-button> <br><br>
        <label for="dog-names" id="dropLabel">Show entries</label>
        <select name="entries" id="entries">
            <option value="rigatoni">10</option>
          <option value="dave">25</option>
          <option value="pumpernickel">50</option>
          <option value="reeses">75</option>
          <option value="reeses">100</option>
        </select>
        <div class="table" >
  
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" id="th1">Order Id</th>
                <th scope="col" id="th1">Tracking Id</th>
                <th scope="col" id="th1">Trans</th>
                <th scope="col" id="th1">Status</th>
                <th scope="col" id="th1">Trans Type</th>
                <th scope="col" id="th1">Status</th>
                <th scope="col" id="th1">Amount</th>
                <th scope="col" id="th1">Date</th>
                <th scope="col" id="th1">Balance</th>
                <th scope="col" id="th1">User Id</th>
    
              
              </tr>
            </thead>
            <tfoot>
              <tr> 
              
                <th scope="col" id="th1">Order Id</th>
                <th scope="col" id="th1">Tracking Id</th>
                <th scope="col" id="th1">Trans</th>
                <th scope="col" id="th1">Status</th>
                <th scope="col" id="th1">Trans Type</th>
                <th scope="col" id="th1">Status</th>
                <th scope="col" id="th1">Amount</th>
                <th scope="col" id="th1">Date</th>
                <th scope="col" id="th1">Balance</th>
                <th scope="col" id="th1">User Id</th>
                    
              
                  </tr>
                </tfoot>           
     
        
      