<ion-content>
    <h1>-Order List</h1>
    <div class="search">
      <ion-searchbar id="search"></ion-searchbar>
    </div>
    <ion-item>
      <ion-select label="Select Entries" label-placement="fixed" placeholder="Entries">
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="20">20</ion-select-option>
        <ion-select-option value="30">30</ion-select-option>
      </ion-select>
    </ion-item>

      <!-- <div class="table" >
    
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" id="th1">Order Id</th>
              <th scope="col" id="th1">Balance</th>
              <th scope="col" id="th1">Paid</th>
              <th scope="col" id="th1">Total</th>
              <th scope="col" id="th1">Tax</th>
              <th scope="col" id="th1">Wallet</th>
              <th scope="col" id="th1">Reward</th>
              <th scope="col" id="th1">Shipping</th>
              <th scope="col" id="th1">Status</th>
              <th scope="col" id="th1">Description</th>
              <th>Date</th>
            </tr>
          </thead>
          <tfoot>
            <tr><th scope="col" id="th1">Number</th>
              <th scope="col" id="th1">Name</th>
              <th scope="col" id="th1">Store</th>
              <th scope="col" id="th1">Gender</th>
              <th scope="col" id="th1">Email</th>
              <th scope="col" id="th1">Balance</th>
              <th scope="col" id="th1">Status</th>
              <th scope="col" id="th1">Register Date</th>
              <th scope="col" id="th1">Status</th>
              <th scope="col" id="th1">Description</th>
              <th>Date</th>
            </tr>
          </tfoot>
          <tbody>
          </tbody>
        </table>
      </div>  -->
      <ion-grid>
        <ion-row>
          <ion-col id= "tableheader">Order Id</ion-col>
          <ion-col id= "tableheader" >Balance</ion-col>
          <ion-col id= "tableheader">Paid</ion-col>
          <ion-col id= "tableheader">Total</ion-col>
          <ion-col id= "tableheader">Tax</ion-col> 
          <ion-col id= "tableheader">Reward</ion-col>
          <ion-col id= "tableheader" >Shipping</ion-col>
          <ion-col id= "tableheader">Status</ion-col>
          <ion-col id= "tableheader">Description</ion-col>
          <ion-col id= "tableheader">Tax</ion-col> 
        </ion-row>
        <ion-row >
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col id="email"></ion-col>
          <ion-col></ion-col>
          
         <ion-col>
         </ion-col> 
        </ion-row> 
      </ion-grid>     


 
</ion-content>
