.col-3{
    text-align: center;
    width:70vw; 
}
.box{ 
    margin-left: 5px;
    margin-top: 4px;
    display: inline-block;
    height: 130px;
    width: 250px;
    background-color:whitesmoke;
    color:black;
    border: 1px solid white;
}
.con{
    display: flex;
    justify-content: end;
}
.con{
 background-color: white;
}
#dash{
  color:black;



}
.color{
  background-color:#00FFCA  ;
}
#card{
  width: 500px;
  height: 150px;

}
.boxes{
  display: flex;
  
}
#color{
  background-color: #2041f9;
  
  color: white;
  text-align: center;
}
#icon{
  padding-left: 50px;
}
ion-content{
  
  
  height: 90vh;
  width: 72vw;
}
ion-card{
  font-size: 20px;
}
ion-icon{
  width: 30px;
  height: 30px;
}

