<div class="con">
<div class="col-3">
  <h1 id="dash">Dashboard</h1>
  <h1 id="dash">Welcome To Fristy</h1>
  <div class="boxes">
   
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalemployee">Employee</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finaluser">Users</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalvendor">Vendors</ion-card-title>
      </ion-card-header>
    </ion-card></div>
    <div class="boxes">
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finaltransaction">Transactions</ion-card-title>
      </ion-card-header>
    </ion-card>
  
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalbanner">Banner</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalstore">Store</ion-card-title>
      </ion-card-header>
    </ion-card></div>
    <div class="boxes">
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalproduct">Product</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalrecharge">Recharge</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalAccount">Account</ion-card-title>
      </ion-card-header>
    </ion-card></div>
   
  
</div>