<div class="con">
<div class="col-3">
  <h1 id="dash">Dashboard</h1>
  <h1 id="dash">Welcome To Fristy</h1>
  <div class="boxes">
   
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalemployee">Employee<ion-icon name="person-outline" id="icon" aria-hidden="true"></ion-icon></ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finaluser">Users<ion-icon name="person-circle-outline" id="icon" aria-hidden="true"></ion-icon></ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalvendor">Vendors<ion-icon name="cash-outline" id="icon" aria-hidden="true"></ion-icon></ion-card-title>
      </ion-card-header>
    </ion-card></div>
    <div class="boxes">
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finaltransaction">Transaction<ion-icon name="wallet" id="icon" aria-hidden="true"></ion-icon></ion-card-title>
      </ion-card-header>
    </ion-card>
  
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalbanner">Banner <ion-icon name="images-outline" id="icon" aria-hidden="true"></ion-icon></ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalstore">Store<ion-icon name="storefront-outline" id="icon" aria-hidden="true"></ion-icon></ion-card-title>
      </ion-card-header>
    </ion-card></div>
    <div class="boxes">
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalproduct">Product<ion-icon name="add-circle-outline" id="icon" aria-hidden="true"></ion-icon></ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalrecharge">Recharge <ion-icon name="flash-outline" id="icon" aria-hidden="true"></ion-icon></ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title routerLink="/finalAccount">Account <ion-icon name="key-outline" id="icon" aria-hidden="true"></ion-icon></ion-card-title>
      </ion-card-header>
    </ion-card></div>
   
  
</div>