<ion-content>   
      <div class="boxes">
        <ion-card id="card"  routerLink="/finalemployee" >
          <h1 id="color"> Employee <ion-icon name="person-outline" id="icon" aria-hidden="true" ></ion-icon></h1>
          <ion-card-header>
            
            <ion-card-title ></ion-card-title>
    
          </ion-card-header>
        </ion-card>
        <ion-card id="card"  routerLink="/finaluser">
          <h1 id="color"> Users <ion-icon name="person-circle-outline" id="icon" aria-hidden="true"></ion-icon></h1>
          <ion-card-header>
            <ion-card-title></ion-card-title>
          
          </ion-card-header>
        </ion-card>
        <ion-card id="card" routerLink="/finalvendor">
          <h1 id="color"> Vendors<ion-icon name="cash-outline" id="icon" aria-hidden="true"></ion-icon></h1>
          <ion-card-header>
            <ion-card-title ></ion-card-title>
      
          </ion-card-header>
        </ion-card></div>
        <div class="boxes">
        <ion-card id="card" routerLink="/finaltransaction">
          <h1 id="color"> Transactions  <ion-icon name="wallet" id="icon" aria-hidden="true"></ion-icon>
          </h1>
          <ion-card-header>
            <ion-card-title ></ion-card-title>
                </ion-card-header>
        </ion-card>
      
        <ion-card id="card" routerLink="/finalbanner">
          <h1 id="color"> Banner 
            <ion-icon name="images-outline" id="icon" aria-hidden="true"></ion-icon></h1>
          <ion-card-header>
            <ion-card-title ></ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card id="card"  routerLink="/finalstore">
          <h1 id="color">Store
            <ion-icon name="storefront-outline" id="icon" aria-hidden="true"></ion-icon></h1>
          <ion-card-header>
            <ion-card-title routerLink="/finalstore"></ion-card-title>
          </ion-card-header>
        </ion-card></div>
        <div class="boxes">
        <ion-card id="card" routerLink="/finalproduct">
          <h1 id="color">Product       <ion-icon name="add-circle-outline" id="icon" aria-hidden="true"></ion-icon></h1>
          <ion-card-header>
            <ion-card-title ></ion-card-title>
    
          </ion-card-header>
        </ion-card>
        <ion-card id="card" routerLink="/finalorder">
          <h1 id="color">Order  <ion-icon name="flash-outline" id="icon" aria-hidden="true"></ion-icon></h1>
          <ion-card-header>
            <ion-card-title routerLink="/finalorder"></ion-card-title>
         
          </ion-card-header>
        </ion-card>
        <ion-card id="card" routerLink="/finalaccount">
          <h1 id="color">Account  <ion-icon name="key-outline" id="icon" aria-hidden="true"></ion-icon></h1>
          <ion-card-header>
            <ion-card-title routerLink="/finalaccount"></ion-card-title>
            
          </ion-card-header>
        </ion-card>
        </div>
        </ion-content>

