// .row-12{
//     display: flex;

// }
// .dropdown {
//     display: inline-block;
//     position:relative;
//   }
//   #logo{
//     width:100px;
//     color: white;
//     text-align: center;
//     margin-left: 60px;
//   }
  h2{
    text-align: center;
  }
  .col-2{
    background-color: antiquewhite;
  }
  
// .dropdown {
//     display: inline-block;
//     position:relative;
//   }
  
//   button{
//     background-color:transparent;
//     border:none;
//     // height: 50px;
//     color:black;
//     //  border-top:1px solid black ;
//     // border-bottom:1px solid black ; 
//     border-radius:0px;
//     padding:10px 20px;
//     font-size:25px;
//     cursor:pointer;
//   }
  
//   // button:hover{
//   //   background-color:#18FFFF;
//   // }
  
//   .dropdown-options {
//     display: none;
//     position:static;
//     overflow: auto;
//     background-color:white;
//     border-radius:1px;
//     box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
//   }
  
//   .dropdown:hover .dropdown-options {
//     display:inline-table;
//   }
  
//   .dropdown-options a {
//     display: inline-block;
//     color: #000000;
//     padding: 5px;
//     text-decoration: none;
//     padding:20px 40px;
//   }
  
//   .dropdown-options a:hover {
//     color:aliceblue;
//     background-color:#0d9fcb;
//     border-radius:1px;
//   }
  .col-9{
    text-align: center;
    width:70vw;
    
    
  }
  
  // .boxes{

  //   display: flex;
  // }
  .box{
    
    margin-left: 5px;
    margin-top: 4px;
    display: inline-block;
    height: 130px;
    width: 250px;
    background-color:whitesmoke;
    color:black;
    border: 1px solid white;
  }
  .con{
    display: flex;
    justify-content: end;
    
  }
.con{
 // background-image:url("/assets/3334896.jpg");
 background-color: white;
 // background-size: cover;
}
#dash{
  color:black;
 // background-color: white;
}