
<ion-content [fullscreen]="true">
  <div class="all">
    
   
    <div class="box">
      <h1>SIGNUP</h1>
      <div class="inupt">
        <p id="para-user">Name</p>
        <i class="fa-solid fa-user" style="color: #0e5ce1;"></i>
        <input type="text" class="one"  placeholder="Type username">
      </div>
     
  
      <div class="inupt">
        <p id="para-user">email</p>
        <i class="fa-solid fa-user" style="color: #0e5ce1;"></i>
        <input type="email" class="one" placeholder="Type Email" [(ngModel)]="email">
      </div>
      <div class="inupt">
        <p id="para-user">Password</p>
        <i class="fa-sharp fa-solid fa-lock" style="color: #0936ec;"></i>
        <input type="password" class="one"  placeholder="Type Password" [(ngModel)]="password">
        <p id="para-pass"><a href="#">Forgot Password ?</a></p>
      </div>
      <div class="button">
        <button type="button" class="btn btn-primary"  (click)="createaccount()"   >CREATE ACCOUNT</button>
      </div>
  <button (click)="google()">google</button>
      <div class="sign">
      
        <a href="www.google.com"><i class="fa-brands fa-facebook fa-beat-fade" (click)="google()" style="color: #0620e5;"></i>
        </a> 
        <a href="www.google.com"><i class="fa-brands fa-instagram fa-fade" id="insta" style="color: #b91409;"></i></a>
        <a href="www.google.com"><i class="fa-brands fa-twitter fa-beat" style="color: #115ee4;"></i></a>
     
      </div>
    </div>
  </div>
</ion-content>

