<ion-header>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">
      FRISTY
    </ion-title>
    <ion-button>Home</ion-button>
    <ion-button>About</ion-button>
    <ion-button>Contact</ion-button>
    <ion-toolbar color="dark">
    <div class="search"> <ion-searchbar show-cancel-button="focus" placeholder="Search" id="search"></ion-searchbar></div>
    <ion-button id="searchBtn">
        <ion-icon name="search" ></ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-button (click)="adminlogin()">Admin Login</ion-button>
    <ion-button  (click)="login()">User Login</ion-button>
  </ion-header>