.container{
    // height: 100vh;
   
}
#file{
    
    width:100%;
    border:none;
    border: 1px solid black ;
    border-radius: 50px;
    
}
#category{
    width:100%;
    border:none;
    border: 1px solid black ;
    border-radius: 50px;

}
#btn{
    color: red;
    width:10%;
    border:none;
    border: 1px solid red;
    border-radius: 50px;
}