<section class="home">
<div class="box">
  <label for="">- ADD EMPLOYEE</label><br><br><br>
  <input type="text"class="textFields" id="user" (change)="userField($event)"  placeholder="Username"><br><br>
  <input type="text" class="textFields" (change)="Fname($event)" placeholder="Enter first name"><br><br>
  <input type="text" class="textFields" (change)="Lname($event)" placeholder="Enter last name"><br><br>
 
  <input type="text" class="textFields" (change)="EmailField($event)" placeholder="Email"><br><br>
  <input type="text" class="textFields" (change)="PhoneField($event)" placeholder="Number"><br><br>
  <input type="date" class="textFields" (change)="DateField($event)">
  <br><br>
  <select class="textFields">  
    <option>Not Selected</option>  
    <option>Sub Admin</option>  
    <option>Store Manager</option>  
    <option>Event Management</option>  
    <option>Category Management</option>  
    <option>Account Management</option>  
    <option>Other Management</option>  
</select> 
<br><br>
<label for="" class="gender">Gender :</label>
<ion-radio-group value="custom-checked">
  <ion-radio value="custom" aria-label="Custom checkbox">Male</ion-radio>
  <ion-radio value="custom-checked" id="Rbtn"aria-label="Custom checkbox that is checked">Female</ion-radio>
</ion-radio-group>
   
</div>
<div class="empAccess">
  <h2 id="empHed">
   <strong>-Employee</strong> Access </h2>
    
  
   <label for="" class="gender">View application users list:</label>
   <ion-radio-group value="custom-checked">
     <ion-radio value="custom" aria-label="Custom checkbox">Yes</ion-radio>
     <ion-radio value="custom-checked" id="Rbtn"aria-label="Custom checkbox that is checked">No</ion-radio>
   </ion-radio-group>
    <br><br>
   <label for="" class="gender">View application users profile:</label>
   <ion-radio-group value="custom-checked">
     <ion-radio value="custom" aria-label="Custom checkbox">Yes</ion-radio>
     <ion-radio value="custom-checked" id="Rbtn"aria-label="Custom checkbox that is checked">No</ion-radio>
   </ion-radio-group>
    <br><br>
  <label for="" class="gender">Update user profile:</label>
   <ion-radio-group value="custom-checked">
     <ion-radio value="custom" aria-label="Custom checkbox">Yes</ion-radio>
     <ion-radio value="custom-checked" id="Rbtn"aria-label="Custom checkbox that is checked">No</ion-radio>
   </ion-radio-group>
   <br><br>
   <label for="" class="gender">Update user profile:</label>
    <ion-radio-group value="custom-checked">
      <ion-radio value="custom" aria-label="Custom checkbox">Yes</ion-radio>
      <ion-radio value="custom-checked" id="Rbtn"aria-label="Custom checkbox that is checked">No</ion-radio>
    </ion-radio-group>

    <br><br>
    <label for="" class="gender">View vendor store:</label>
     <ion-radio-group value="custom-checked">
       <ion-radio value="custom" aria-label="Custom checkbox">Yes</ion-radio>
       <ion-radio value="custom-checked" id="Rbtn"aria-label="Custom checkbox that is checked">No</ion-radio>
     </ion-radio-group>

     <br><br>
    <label for="" class="gender">Add store details/Commission:</label>
     <ion-radio-group value="custom-checked">
       <ion-radio value="custom" aria-label="Custom checkbox">Yes</ion-radio>
       <ion-radio value="custom-checked" id="Rbtn"aria-label="Custom checkbox that is checked">No</ion-radio>
     </ion-radio-group>

     <br><br>
     <label for="" class="gender">Update store details: </label>
      <ion-radio-group value="custom-checked">
        <ion-radio value="custom" aria-label="Custom checkbox">Yes</ion-radio>
        <ion-radio value="custom-checked" id="Rbtn"aria-label="Custom checkbox that is checked">No</ion-radio>
      </ion-radio-group>
      <br><br>

      <label for="" class="gender">Update store commission:</label>
       <ion-radio-group value="custom-checked">
         <ion-radio value="custom" aria-label="Custom checkbox">Yes</ion-radio>
         <ion-radio value="custom-checked" id="Rbtn"aria-label="Custom checkbox that is checked">No</ion-radio>
       </ion-radio-group>
    
       <br><br>
    <label for="" class="gender">Add/update store category::</label>
     <ion-radio-group value="custom-checked">
       <ion-radio value="custom" aria-label="Custom checkbox">Yes</ion-radio>
       <ion-radio value="custom-checked" id="Rbtn"aria-label="Custom checkbox that is checked">No</ion-radio>
     </ion-radio-group>

     <br><br>
    <label for="" class="gender">Add/update store banners:</label>
     <ion-radio-group value="custom-checked">
       <ion-radio value="custom" aria-label="Custom checkbox">Yes</ion-radio>
       <ion-radio value="custom-checked" id="Rbtn"aria-label="Custom checkbox that is checked">No</ion-radio>
     </ion-radio-group>

     <br><br>
    <label for="" class="gender">View store events:</label>
     <ion-radio-group value="custom-checked">
       <ion-radio value="custom" aria-label="Custom checkbox">Yes</ion-radio>
       <ion-radio value="custom-checked" id="Rbtn"aria-label="Custom checkbox that is checked">No</ion-radio>
     </ion-radio-group>

</div>
<button (click)="add()">submit</button>
</section>