#data{
  border-left: solid 1px black;
  border-right: solid 1px black;
}
#email{
  width: 20px;
}
ion-col{
  border:none;

}
#tableheader{
  border: 2px solid ;
     color: white;
     background-color: #2e93d4;
}
ion-row:nth-child(even) {background-color:whitesmoke;}
.ion-padding{
  height: 80vh;
  width: 100vw;
  margin-top: 100px;
}
ion-content{
  overflow: scroll;
}