<ion-content class="ion-padding">
<h1>User List(Clear)</h1>
    <ion-searchbar ></ion-searchbar>
    <ion-button shape="round">Search</ion-button>
      <br><br>
      <label for="" class="label">Number(10 digit) : </label>
      <ion-searchbar ></ion-searchbar>
      <ion-button shape="round">Search</ion-button>
      <br><br>
      <label for="" class="label">Email:- </label>
      <ion-searchbar ></ion-searchbar>
      <ion-button shape="round">Search</ion-button>
      <br><br>
      <ion-item>
        <ion-select label="Select Entries" label-placement="fixed" placeholder="Entries">
          <ion-select-option value="10">10</ion-select-option>
          <ion-select-option value="20">20</ion-select-option>
          <ion-select-option value="30">30</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-grid>
        <ion-row >
          <ion-col id= "tableheader">Email</ion-col>
          <ion-col id= "tableheader" >Name</ion-col>
          <ion-col id= "tableheader">Password</ion-col>
          <ion-col id= "tableheader">Gender</ion-col>
          <ion-col id= "tableheader">Balance</ion-col>
          <ion-col id= "tableheader" >Cashback</ion-col>
          <ion-col id= "tableheader">Role</ion-col>
          <ion-col id= "tableheader">ReferId</ion-col>
        </ion-row>
        <ion-row *ngFor="let i of collectusersdata ">
          <ion-col>{{i.Email}}</ion-col>
          <ion-col>{{i.user}}</ion-col>
          <ion-col id="email">{{i.password}}</ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          
        </ion-row> 
      </ion-grid>
  
</ion-content>