h3{
	font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.5px;
    font-style: italic;
    line-height: 48px;
}
.block{

  display: flex;
	
	color:black;
	text-align: center;
	
}
#img{
  margin-left: 500px;
}
.first{
  background-color: #18FFFF;
	color:black;
	text-align: center;
	
}
.bann{
  margin-left: 5px;
  margin-right: 5px;
}