
<ion-content [fullscreen]="true">

  <div class="row-12">
    <div class="col-3">
      <h1>Fristy</h1>
      <input type="image" src="/src/assets/img/user.png"  alt="user" height="48" width="48">
      <h6>User</h6>
      <hr style="color:black;">
      <ul>
        <li>
          <div class="dropdown">
            <button>CLOTHES </button>
            <div class="dropdown-options">
                <a routerLink="/shirts">Employee</a>
                <a routerLink="/t-shirts">User</a>
                <a routerLink="/sports">Vendors</a>
                <a routerLink="/shirts">Store</a>
                <a routerLink="/t-shirts">Product</a>
                <a routerLink="/sports">Transactions</a>
            </div>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="dropdown">
            <button>operations </button>
            <div class="dropdown-options">
                <a routerLink="/shirts">Employee</a>
                <a routerLink="/t-shirts">User</a>
                <a routerLink="/sports">Vendors</a>
                <a routerLink="/shirts">Store</a>
                <a routerLink="/t-shirts">Product</a>
                <a routerLink="/sports">Transactions</a>
            </div>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="dropdown">
            <button>Admin Profile</button>
            <div class="dropdown-options">
                <a routerLink="/shirts">Employee</a>
                <a routerLink="/t-shirts">User</a>
                <a routerLink="/sports">Vendors</a>
                <a routerLink="/shirts">Store</a>
                <a routerLink="/t-shirts">Product</a>
                <a routerLink="/sports">Transactions</a>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <div class="col-9">
      <h3>Dashboard</h3>
      <h5>Welcome To Fristy</h5>
      <div class="boxes">
       <div class="box">Employee</div>
       <div class="box">Users</div>
       <div class="box">Vendors</div>
       <div class="box">Banners</div>
       <div class="box">Product</div>
       <div class="box">Store</div>
       <div class="box">Account</div>
       <div class="box">Recharge</div>
       <div class="box">Transactions</div>
       <div class="box">Orders</div>
       
      </div>
    </div>
   

  </div>
  
</ion-content>
