
<ion-content [fullscreen]="true">

  <div class="row-12">
    <div class="col-3">
      <h1>Fristy</h1>
      <input type="image" src="/src/assets/img/user.png"  alt="user" height="48" width="48">
      <h6>User</h6>
      <hr style="color:black;">
      <ul>
        <li>
          <div class="dropdown">
            <button>CLOTHES </button>
            <div class="dropdown-options">
              <button (click)="adminuser()">Employee</button>
                <a routerLink="/t-shirts">User</a>
                <a routerLink="/sports">Vendors</a>
                <a routerLink="/shirts">Store</a>
                <a routerLink="/t-shirts">Product</a>
                <a routerLink="/sports">Transactions</a>
            </div>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="dropdown">
            <button>operations </button>
            <div class="dropdown-options">
                <a routerLink="/shirts">Employee</a>
                <a routerLink="/t-shirts">User</a>
                <a routerLink="/sports">Vendors</a>
                <a routerLink="/shirts">Store</a>
                <a routerLink="/t-shirts">Product</a>
                <a routerLink="/sports">Transactions</a>
            </div>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="dropdown">
            <button>Admin Profile</button>
            <div class="dropdown-options">
                <a routerLink="/shirts">Employee</a>
                <a routerLink="/t-shirts">User</a>
                <a routerLink="/sports">Vendors</a>
                <a routerLink="/shirts">Store</a>
                <a routerLink="/t-shirts">Product</a>
                <a routerLink="/sports">Transactions</a>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <div class="col-9">
      <h3>Dashboard</h3>
      <h5>Welcome To Fristy</h5>
      <div class="boxes">
       <div class="box" (click)="adminemploye()">Employee</div>
       <div class="box" (click)="adminuser()">Users</div>
       <div class="box" (click)="adminvendors()">Vendors</div>
       <div class="box"(click)="adminbanner()">Banners</div>
       <div class="box"(click)="adminproduct()">Product</div>
       <div class="box"(click)="adminstore()">Store</div>
       <div class="box"(click)="adminaccount()">Account</div>
       <div class="box"(click)="adminrecharge()">recharge</div>
       <div class="box"(click)="admintransactions()">Transactions</div>
       <div class="box"(click)="adminorders()">Orders</div>
      </div>
    </div>
   

  </div>
  
</ion-content>
