<div class="row-12">
  <div class="up">
    <h1 id="logo">FRISTY</h1>
    <div class="AdminImg">
      <input type="image" class="img" src="assets/img/usericon.png" alt="img" height="48" width="48">
    </div>
  </div>
  <div class="adminheader">

    <h6 id="admin">ADMIN</h6>
   

    <div class="col-3">
      <hr>
    
      <div class="dropdown">
        <button   id="btnn" style="color:black;"><i class="fa-solid fa-house-chimney" style=" color: black "
          ></i>DashBoard </button>
        <div class="dropdown-options">
          <a (click)="employee()">Employee</a>
          <a >User</a>
          <a routerLink="/sports">Vendors</a>
          <a routerLink="/shirts">Store</a>
          <a routerLink="/t-shirts">Product</a>
          <a routerLink="/sports">Transactions</a>
        </div>
      </div>


      <div class="dropdown">
        <button style="color:black;" id="btnn"><i class="fa-brands fa-centos"
            style="color: black;"></i>Operations</button>
        <div class="dropdown-options">
          <a routerLink="/shirts">Store Categories</a>
          <a routerLink="/t-shirts">Events</a>
          <a routerLink="/sports">Ads Banner</a>
          <a routerLink="/shirts">Qr Codes Maker</a>
          <a routerLink="/t-shirts">Api's Margin</a>
          <a routerLink="/sports">Notification </a>
        </div>
      </div>


      <div class="dropdown">
        <button style="color:black;" id="btnn"><i class="fa-sharp fa-solid fa-lock" style="color: black;"></i>Admin
          Profile</button>
        <div class="dropdown-options">
          <a routerLink="/shirts">Profile</a>
          <a routerLink="/t-shirts">Change Password</a>

        </div>
      </div>


    </div>

  </div>
 

</div>
