 <div class="row-12">
  
  <ion-app>
   
    <ion-menu contentId="main-content">
      <ion-header>
        
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
          <div class="AdminImg">
            <input type="image" class="img" src="assets/img/usericon.png" alt="img" height="48" width="48">
          </div>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <i class="fa-solid fa-house-chimney" style="color: blue;"></i>
              <ion-label>DashBoard </ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p> Employee</p>
              <p> Vendors</p>
              <p> Store</p>
              <p> Product</p>
              <p> Transactions</p>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" style="color: black;"> <i class="fa-brands fa-centos" style="color: blue;"></i>
              <ion-label>Operations</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content"> <div class="ion-padding" slot="content">
              <p>Events </p>
              <p>Ads Banner</p>
              <p>Qr Codes Maker</p>
              <p> Api's Margin</p>
              <p> Store Categories</p>
              <p>Notification</p>
            </div></div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light"><i class="fa-sharp fa-solid fa-lock" style="color: blue"></i>
              <ion-label>Admin</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content"> <div class="ion-padding" slot="content">
              <p>Profile</p>
              <p>Change Password</p>
             
            </div></div>
          </ion-accordion>
        </ion-accordion-group>
    
        </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar class="tool" color="tertiary">
           <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <div class="headline">
            <div class="logoName">
              <ion-title >Fristy </ion-title>
            </div>
          <div class="msg">
            <ion-button  class="message"  routerLink="/landing">
              <ion-icon name="home-outline" id="mlogo" ></ion-icon>
            </ion-button>
          </div>
          <div class="notification">
            <ion-button  class="notif">
              <ion-icon name="notifications-outline" ></ion-icon>
             
            </ion-button>
          </div>
          <div class="notification">
            <ion-button  class="notif" routerLink="/AdminDetails">
              <ion-icon name="person" style="color:white"></ion-icon>
             
            </ion-button>
          </div>
        
        </div>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <!-- <h6 id="admin">ADMIN</h6> -->
        

      </ion-content>
    </div>
  </ion-app>
</div> 