.row-12{
    display:inline-block;
    width: 27vw;
    //background-image:url("/assets/3334896.jpg");
    background-size:cover;
    background-color: whitesmoke;
}
  #logo{
    width:150px;
    color: black;
    margin-left: 110px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  h2{
    text-align: center;
  }
  .col-2{
    background-color: antiquewhite;
  }
  .fa-brands{
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  
.dropdown {
    // display: inline-block;
    position:relative;
  }
  
  button{
    background-color:transparent;
    border:none;
    // height: 50px;
    color:black;
    //  border-top:1px solid black ;
    // border-bottom:1px solid black ; 
    border-radius:0px;
    padding:10px 20px;
    font-size:20px;
    cursor:pointer;
  }
  
  // button:hover{
  //   background-color:#18FFFF;
  // }
  
  .dropdown-options {
    display: none;
    position:relative;
    overflow:scroll;
    background-color:white;
    border-radius:1px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  
  .dropdown:hover .dropdown-options {
    display:inline-table;
  }
  
  .dropdown-options a {
    display: inline-block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
  }
  
  .dropdown-options a:hover {
    color:aliceblue;
    background-color:#0d9fcb;
    border-radius:1px;
  }
  .col-9{
    text-align: center;
  }
  
  .boxws{

    display: flex;
  }
  .box{
    
    margin-left: 5px;
    margin-top: 4px;
    display: inline-block;
    height: 150px;
    width: 230px;
    background-color: antiquewhite;
    

  }
  #admin{
    margin-left: 70px;
    color:black;
    width: 100%;
    font-size: 25px;
    
  }
  .adminheader{
    
    margin: 20px;
    width: 24vw;
    height: 600px;
    border-radius: 25px;
    padding: 30px;
   }
.fa-solid {
  padding-right:30px;
  
} 
#btnn{
  text-align:start;
  width:250px;
}
.col-3{
  width: 250px;
  text-align: start;
}
.img{
  border-radius: 100%;
  margin-left: 110px;
  
  height:90px;
  width: auto;

}
