.container{
    // height: 100vh;
    

}
.fields{
    display: inline-block;
    margin-top:30px ;
    width: 65vw;
  border: 1px solid black;
}
 
#addBtn{
    background-color: transparent;
    font-size: 20px;
    color:#f33970;
    border: 1px solid #f33970;
    margin-left: 60vw;
    margin-bottom: 50px;    
    border-width: 3px;

}
.label{

    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
}
#text{
    border-radius: 10px;
}

#label-to{
    margin-left: 15px;
    margin-right: 15px;
}
button{
    margin-left: 30px;
    background-color: transparent;
    border:none;
    background-color: orangered;
    color:#ddd;
    /* border-top:1px solid black ;
    border-bottom:1px solid black ; */
    border-radius:0px;
    padding:10px 20px;
    font-size:15px;
    cursor:pointer;
  }
  #btn{
    margin-left:40px ;
  }
  
  button:hover{
    background-color:#18FFFF;
  }
  .digit{
    width:300px;
  }
  .email{
    margin-left: 89px;
    width:300px;
  }
  #dropLabel{
    color: #18FFFF;
    margin-left: 20px;
    margin-right: 20px;
  }
  #entries{
    color: #18FFFF;
    border:none;
    background-color: transparent;
    border-bottom: 1px solid black;
  }
  .search{
    text-align: end;
    color:#18FFFF;
  }
  #searchLeft{

    border:none;
    margin-left: 8px;
    
    border-bottom:1px solid black ;
    margin-right: 10px;
  }
  #th1{
    padding-right:15px ;
    color:#55ccfe;
    
  }
  h1{
    color: #55ccfe;
  }

  .table{
    margin-top: 20px;
    border-color: #f33970;
    border-style: solid;
    border-width: 5px;
    color: #2e93d4;
   
   
  }