<ion-content>
         <h1>Banners List (Data)</h1>
        <ion-button   (click)="addfinalbanner()" >+</ion-button>
        <div class="search">
          <ion-searchbar id="search"></ion-searchbar>
        </div>
      <ion-accordion-group  id="Entries">
        <ion-accordion value="first">
          <ion-item slot="header" color="light" >
            <ion-label>Show Entries</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">10</div>
          <div class="ion-padding" slot="content">20</div>
          <div class="ion-padding" slot="content">30</div>
          <div class="ion-padding" slot="content">40</div>
        </ion-accordion>
      </ion-accordion-group>
      <ion-grid>
        <ion-row>
          <ion-col id= "tableheader">Image</ion-col>
          <ion-col id= "tableheader" >State</ion-col>
          <ion-col id= "tableheader">City</ion-col>
          <ion-col id= "tableheader">Timestamp</ion-col>
          <ion-col id= "tableheader">Number</ion-col> 
        
          <ion-col id= "tableheader">option</ion-col>
        </ion-row>
        <ion-row *ngFor="let i of collectbannerdata">
          <ion-col><img src="{{i.image}}" alt="img" width="50px"></ion-col>
          <ion-col>{{i.state}}</ion-col>
          <ion-col>{{i.city}}</ion-col>
          <ion-col id="email">{{timestamp}}</ion-col>
          <ion-col>{{1}}</ion-col>
          
         <ion-col><i class="fa-solid fa-trash" style="color: #5919b8;"  (click)="deletebanner()"></i><br><i class="fa-regular fa-pen-to-square"  (click)="deletebanner()" style="color: #631868;"></i>
         </ion-col> 
        </ion-row> 
      </ion-grid>     

</ion-content>
