ion-col {
   
    text-align: center;
  }
  #col1{
    width: 80px;
  }
  ion-row{
    height: 300px;
  }
  ion-icon{
    width: 90px;
    height: 60px;
  }
  h1{
    font-style: bold;
    font-size: 30px;
  }