.content{
    margin-left: 20px;
    width: 93%;
}
#StatusLabel{
    margin-right:120px ;
}
#select{
    margin-left: 155px;
    width: 62.5vw;
    display: inline-block;
}
#selectField{
    border-bottom:1px solid black;
}
ion-input{
    width: 30vw;
    display: inline-block;
    margin-right: 10px;
    
}
.flex{
    margin-top:20px;
    width: 92vw;
}
#image{
    margin-top:50px;
    border:1px solid black;
    width:25%;
    height:200px;
    margin-bottom: 30px;
}
